body{
display:flex;
flex-direction:row;
align-items:start;
}
.sidenav{
display:flex;
flex-direction:column;
gap:40px;
background-color:green;
height:90vh;
padding:10px;
}
a{
text-decoration:none;
color:white;
font-size: 18px;
}
a:hover{
color:red;
}
.main h1{
padding:0;
margin:0;
}