*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    height: 400px;
    
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    padding: 8px 16px;
    border-radius: 20px;
    margin:20px 10px;
    background-color:rgb(255, 170, 0) ;
    border: 2px solid rgb(255, 170, 0);
    cursor: pointer;
    transition: .3s;
    user-select: none;
}
button:active{
    background-color: black;
    border: 2px solid white;
    color: rgb(255, 170, 0);
}
